# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atom-rsync': 'atom-rsync:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'rsync'
      'submenu': [
        { 'label': 'Current File', 'command': 'atom-rsync:current-file' }
      ]
    ]
  }
]
